<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>BS541 ESA Project</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    {#    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'#}
    {#          rel='stylesheet' type='text/css'>#}
    {#    <link href='http://fonts.useso.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>#}

    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
    <script src="/static/js/PIE_IE9.js"></script>
    <script src="/static/js/PIE_IE678.js"></script>

    <style type="text/css">
        <!--
        @import url("/static/css/style1.css");
        -->
    </style>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src="/static/js/myScript.js"></script>
</head>

<body id="home">

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Project Demo For ESA</h1>
        <h3 class="h2_home wow fadeIn" data-wow-delay="0.6s">Group 2</h3>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Zekun Zhang</h3>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Qiyang Zhou</h3>
        <a href="https://github.com/zzkzzk1996/CS527"><h3 class="h3_home wow fadeIn" style="color: white"
                                                          data-wow-delay="0.6s">For More Info
            Click Me</h3></a>

    </div>
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down ">
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#credits"> <img class="img_scroll"
                                                                                               src="/static/img/icon/circle.png"
                                                                                               alt=""> </a>
        </div>
    </div>
</div>

<!-- Credits -->
<div id="credits" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>What Would You Like?</h2>
            </div>

            <div class="col-sm-6  block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate" id="query">
                        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#contact">
                            <i class="fa fa-desktop fa-4x "></i>
                        </a>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Query </h3>
                        <p> You can query info from your database </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate" id="insert">
                        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#insert-content">
                            <i class="fa fa-pencil fa-4x "> </i>
                        </a>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Insert </h3>
                        <p> You can add orders into your database </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Empty for blank -->
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
    </div>
</div>

<!-- Contact -->
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>Let's Find out What You Need</h2>
            </div>
            <div class="col-md-6 col-md-offset-3 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#credits">
                            <i class="fa fa-desktop fa-4x "></i>
                        </a>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Query </h3>
                        <p> You can query info from your database </p>
                    </div>
                </div>
            </div>
            <form role="form" action="" method="post" id="form1">
                <div class="col-md-6 col-md-offset-3">
                    {#                    <div class="form-group text-center">#}
                    {#                        <label for="InputName">Your Choice</label>#}
                    {#                        <div class="input-group">#}
                    {#                            <input type="text" class="form-control" list="InputList" name="InputName" id="InputName"#}
                    {#                                   placeholder="Enter Choice : 'mysql' or 'redshift'" required>#}
                    {#                            <datalist id="InputList">#}
                    {#                                <option label="Redshift" value="redshift"/>#}
                    {#                                <option label="MySQL" value="mysql"/>#}
                    {#                            </datalist>#}
                    {#                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>#}
                    {#                        </div>#}
                    {#                    </div>#}

                    <div class="form-group text-center">
                        <label for="InputMessage">Query (only SQL supported)</label>
                        <div class="input-group ">
                                <textarea name="InputMessage" id="InputMessage" class="form-control"
                                          placeholder="SELECT * FROM TABLE" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis">
                        <button type="button" name="submit" id="submit" onclick="displayData()"
                                class="btn wow tada btn-embossed btn-primary pull-right">Submit
                        </button>
                    </a>
                    <input type="reset" name="reset" id="reset" value="Reset"
                           class="btn wow tada btn-embossed btn-primary pull-left">
                </div>
            </form>
            <hr class="featurette-divider hidden-lg">
        </div>
        <!-- Empty for blank -->
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
        <div class="col-md-6 col-md-offset-3 text-center wrap_title"></div>
    </div>
</div>

<div id="insert-content" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>Add Your New Orders</h2>
            </div>

            <div class="col-md-6 col-md-offset-3 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate">
                        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#credits">
                            <i class="fa fa-pencil fa-4x "> </i>
                        </a>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Insert </h3>
                        <p>You can add orders into
                            your database</p>
                    </div>
                </div>
            </div>
            <form role="form" action="" method="post" id="form1">
                <div class="col-md-6 col-md-offset-3">

                    <!-- user_id -->
                    <div class="form-group text-center">
                        <label for="InputMessage">Enter Your User ID</label>
                        <div class="input-group ">
                                <textarea name="InputMessage" id="userId" class="form-control"
                                          placeholder="Enter Your User ID" rows="1" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <!-- order_number -->
                    {#                    <div class="form-group text-center">#}
                    {#                        <label for="InputMessage">Enter Your Order Number</label>#}
                    {#                        <div class="input-group ">#}
                    {#                                <textarea name="InputMessage" id="orderNumber" class="form-control"#}
                    {#                                          placeholder="Enter Your Order Number" rows="1" required></textarea>#}
                    {#                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <!-- day_of_week -->
                    <div class="form-group text-center">
                        <label for="InputName">Choose Your Day of Week</label>
                        <div class="input-group">
                            <input type="text" class="form-control" list="InputList" name="InputName" id="dayOfWeek"
                                   placeholder="Choose Your Day of Week" required>
                            <datalist id="InputList">
                                <option label="Sunday" value="0"/>
                                <option label="Monday" value="1"/>
                                <option label="Tuesday" value="2"/>
                                <option label="Wednesday" value="3"/>
                                <option label="Thursday" value="4"/>
                                <option label="Friday" value="5"/>
                                <option label="Saturday" value="6"/>
                            </datalist>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <!-- hour_of_day -->
                    <div class="form-group text-center">
                        <label for="InputMessage">Enter the Time Now (Hours only)</label>
                        <div class="input-group ">
                                <textarea name="InputMessage" id="hourOfDay" class="form-control"
                                          placeholder="Enter the Time Now (Hours only) From 0 to 23" rows="1"
                                          required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <!-- days_since_prior_order -->
                    <div class="form-group text-center">
                        <label for="InputMessage">Enter Days Since Last</label>
                        <div class="input-group ">
                                <textarea name="InputMessage" id="daysSinceLast" class="form-control"
                                          placeholder="Enter Days from Last" rows="1" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <label for="InputMessage">Special Notes</label>
                        <div class="input-group ">
                                <textarea name="InputMessage" id="notes" class="form-control"
                                          placeholder="Add your notes" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>
                    <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis">
                        <button type="button" name="submit" id="submit" onclick="insertDisplay()"
                                class="btn wow tada btn-embossed btn-primary pull-right">Submit
                        </button>
                    </a>
                    <input type="reset" name="reset" id="reset" value="Reset"
                           class="btn wow tada btn-embossed btn-primary pull-left">
                </div>
            </form>

        </div>
    </div>
</div>

<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>What Is?</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group text-center">
                    <label for="time_elapsed">Time Elapsed</label>
                    <div class="input-group">
                        <textarea name="time_elapsed" id="time_elapsed" class="form-control" placeholder="Time Elapsed"
                                  rows="3" required></textarea>
                        <span class="input-group-addon"><i
                                class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3">
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#credits">
                    <button type="button" name="finish" id="finish" onclick="clearThis()"
                            class="btn wow tada btn-embossed btn-primary center-block">Finish
                    </button>
                </a>
            </div>
        </div><!-- /.row -->
        <div class="col-md-6 col-md-offset-3">
            <table id="rounded-corner" summary="2007 Major IT Companies' Profit">
                {#                <thead id="tbhead">#}
                {#                </thead>#}
                {#                <tfoot>#}
                {#                </tfoot>#}
                {#                <tbody id="tbmain">#}
                {#                </tbody>#}
            </table>
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/script.js"></script>
<!-- StikyMenu -->
<script src="/static/js/stickUp.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();

        });
    });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
<script src="/static/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="/static/js/jquery.magnific-popup.js"></script>
</body>

</html>
